* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    height: 120px;
    background-color: whitesmoke;
}

.login-container {
    margin-top: 4px;
    box-sizing: border-box;
    float: right;
}

.login-container input {
    padding: 6px;
    margin-top: 8px;
    font-size: 14px;
    border: none;
    width: 150px;
}

.login-container button {
    padding: 6px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 16px;
    background: #ddd;
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background-color: rgb(136, 136, 226);
}

nav {
    background-color: #333;
    overflow: hidden;
}

.logo {
    margin-left: -98px;
    margin-top: -86px;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav :hover {
    background-color: whitesmoke;
    color: black;
}

.topnav a.active {
    background-color: #04AA6d;
    color: white;
}

.topnav input {
    float: right;
    padding: 12px;
    border: none;
    margin-top: 2px;
    margin-right: 16px;
    font-size: 17px;
}

.div-word {
    margin: 10px auto;
    width: 400px;
}

.div-word input {
    padding: 12px;
    border: 2px solid black;
    font-size: 20px;
}

.div-word button {
    border: 2px solid black;
    padding-bottom: 2px;
    cursor: pointer;
}

.row {
    display: flex;
}

.left {
    flex: 19%;
    padding: 15px 0px;
    background-color: #bbb;
    overflow-x: hidden;
}

.left h2 {
    padding-left: 10px;
}

.right {
    flex: 81%;
    padding: 15px;
}

#myMenu {
    list-style-type: none;
}

#myMenu li a {
    text-decoration: none;
    color: black;
    padding: 12px;
    display: block;
}

#myMenu li a:hover {
    background-color: #eee;
}


/*footer */

footer {
    height: auto;
    padding: 50px 100px;
    background: rgb(228, 200, 148);
    float: left;
}

.footer-container .aboutme {
    width: 40%;
    float: left;
    margin-right: 50px;
}

.footer-container .aboutme .social-icon li {
    list-style: none;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}

.footer-container .member {
    width: 25%;
    float: left;
}

.footer-container .library {
    width: 25%;
    float: left;
}